@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Poppins:wght@400;500&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:linear-gradient(135deg,#ffe0ec,#fff6fb);

font-family:'Poppins',sans-serif;

display:flex;

justify-content:center;

align-items:center;

height:100dvh;

overflow:hidden;

}

.container{

text-align:center;

width:90%;

max-width:420px;

}

#countdown{

font-size:6rem;

color:#ff5b93;

}

#questionBox,
#secondQuestion{

display:none;

}

h2{

margin-bottom:35px;

line-height:1.5;

}

.buttons{

display:flex;

justify-content:center;

gap:20px;

}

button{

padding:15px 35px;

border:none;

border-radius:40px;

background:#ff79a8;

color:white;

font-size:1rem;

cursor:pointer;

position:relative;

transition:.25s;

}

#thankYou{

position:fixed;

inset:0;

display:none;

justify-content:center;

align-items:center;

flex-direction:column;

background:radial-gradient(circle,#ffd5e7,#fff7fb);

z-index:999;

animation:fadeIn .8s;

}

#thankYou h1{

font-size:5rem;

animation:heartbeat 1s infinite;

}

#thankYou h2{

margin-top:20px;

font-size:2rem;

color:#d84f75;

}

#thankYou p{

margin-top:10px;

font-size:1.2rem;

color:#555;

}

@keyframes heartbeat{

0%,100%{

transform:scale(1);

}

50%{

transform:scale(1.15);

}

}

@keyframes fadeIn{

from{

opacity:0;

}

to{

opacity:1;

}
}
